.App {
  text-align: center;
  display: grid;
  grid-auto-columns: 10vw;
  height: 100vh;
  background-color: #EFEFEF;
  color: #A9A9A9;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-bar{
  background-color: #A9A9A9;
  border-right: 1px solid #9b9b9b;
  color:#EFEFEF ;
  grid-column-start: 1;
  grid-column-end: 3;
}

.nav-bar li{
  list-style: none;
}

.nav-bar li:hover{
  background-color: #EFEFEF;
  color:#A9A9A9 ;
}

.nav-bar a {
  color:#EFEFEF ;
  text-decoration: none;

}

.nav-bar ul {
  align-self: start;
  position: sticky;
}

.gridRight{
  grid-column-start: 3;
  grid-column-end: 9;
  margin: 0;
}

.gridRight li{
  list-style: none;
}

.newsTitles{
  text-align: center;
  overflow-y: scroll;
  width: 80vw;
  height: 100vh;
}

.newsTitles li{
  border: solid 1px #A9A9A9 ;
  padding: 1em;
  border-radius: 5px;
  margin: .5em;
  margin-right: 30vw;
}

.newsTitles li:hover{
  border: solid 1px #A9A9A9 ;
  background-color: #fdfdfd;
}

.newsTitles input{
  float: right;
}

img {
  max-width: 100%;
}

.newsCard{
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: flex-start;
}

.newsCard h1{
  border-bottom: solid 1px #A9A9A9 ;
  flex-basis: 100%;
  order: 1;
}

.newsCard input{
  order: 3;
}

.newsCard img{
  max-width: 25%;
  border-radius: 5px;
  order: -1;
  flex-basis: 25%;
}

.newsCard p{
  flex-basis: 70%;
  padding: 1em;
}

/* 

Background: Neutral #EFEFEF
Attention: Watermelon #FF3B3F
Text: Carbon #A9A9A9
Highlight Background: Sky #CAEBF2


*/