.App {
  text-align: center;
  display: grid;
  grid-auto-columns: 10vw;
  height: 100vh;
  background-color: #EFEFEF;
  color: #A9A9A9;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-bar{
  background-color: #A9A9A9;
  border-right: 1px solid #9b9b9b;
  color:#EFEFEF ;
  grid-column-start: 1;
  grid-column-end: 3;
}

.nav-bar li{
  list-style: none;
  border-radius: 3px;
}

.nav-bar li:hover{
  background-color: #EFEFEF;
  border-radius: 3px;
  color:#A9A9A9 ;
}

.nav-bar a {
  color:#EFEFEF ;
  text-decoration: none;

}

.nav-bar ul {
  align-self: start;
  position: sticky;
}

.gridRight{
  grid-column-start: 3;
  grid-column-end: 10;
  margin: 0;
  background-image: url('roosterBG.png');
  overflow-y: scroll;
  width: 80vw;
  height: 100vh;
}

.gridRight li{
  list-style: none;
}

.newsTitles{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10vw, 15vw));
  text-align: center;
}

img {
  max-width: 100%;
}

.newsCard{
  border: solid 1px #A9A9A9 ;
  background-color: #fdfdfd;
  border-radius: 5px;
  margin: .5em;
  box-shadow: 5px 5px 5px -3px rgba(118,118,118,0.75);
  -webkit-box-shadow: 5px 5px 5px -3px rgba(118,118,118,0.75);
  -moz-box-shadow: 5px 5px 5px -3px rgba(118,118,118,0.75);
}

.newsCard:hover{
  border: solid 1px #A9A9A9 ;
  background-color: #61dafb;
  color: #282c34;
  border-radius: 5px;
  margin: .5em;
  box-shadow: 5px 5px 5px -3px rgba(118,118,118,0.75);
  -webkit-box-shadow: 5px 5px 5px -3px rgba(118,118,118,0.75);
  -moz-box-shadow: 5px 5px 5px -3px rgba(118,118,118,0.75);
}

.largeCard{
  border: solid 1px #A9A9A9 ;
  background-color: #fdfdfd;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: flex-start;
  margin: .5em;
  padding: 1em;
  width: 50vw;
  box-shadow: 5px 5px 5px -3px rgba(118,118,118,0.75);
  -webkit-box-shadow: 5px 5px 5px -3px rgba(118,118,118,0.75);
  -moz-box-shadow: 5px 5px 5px -3px rgba(118,118,118,0.75);
}

.condensedCard{
  border: solid 1px #A9A9A9 ;
  background-color: #fdfdfd;
  border-radius: 5px;
  margin: .5em;
  padding: 0;
  width: 50vw;
  box-shadow: 5px 5px 5px -3px rgba(118,118,118,0.75);
  -webkit-box-shadow: 5px 5px 5px -3px rgba(118,118,118,0.75);
  -moz-box-shadow: 5px 5px 5px -3px rgba(118,118,118,0.75);
}

.condensedCard:hover{
  border: solid 1px #A9A9A9 ;
  background-color: #61dafb;
  color: #282c34;
  border-radius: 5px;
  margin: .5em;
  padding: 0;
  width: 50vw;
  box-shadow: 5px 5px 5px -3px rgba(118,118,118,0.75);
  -webkit-box-shadow: 5px 5px 5px -3px rgba(118,118,118,0.75);
  -moz-box-shadow: 5px 5px 5px -3px rgba(118,118,118,0.75);
}

.newsCard h1{
  border-bottom: solid 1px #A9A9A9 ;
  flex-basis: 100%;
  order: 1;
}

.newsCard img{
  border-radius: 5px 5px 0 0;
  order: -1;
  flex-basis: 30%;
}

.newsCard p{
  flex-basis: 70%;
  padding: 1em;
}

.notPinned{
  background-color: #CAEBF2;
  border-radius: 5px;
  padding: 0;
}

.notPinned:hover{
  background-color: #CAEBF2;
  border-radius: 5px;
  padding: 0;
  box-shadow: 5px 5px 5px -3px rgba(118,118,118,0.75);
  -webkit-box-shadow: 5px 5px 5px -3px rgba(118,118,118,0.75);
  -moz-box-shadow: 5px 5px 5px -3px rgba(118,118,118,0.75);
}

.Pinned {
  background-color: #FF3B3F;
  color: #61dafb;
  border-radius: 5px;
  padding: 0;
}

.Pinned:hover {
  background-color: #FF3B3F;
  color: #61dafb;
  border-radius: 5px;
  padding: 0;
  box-shadow: 5px 5px 5px -3px rgba(118,118,118,0.75);
  -webkit-box-shadow: 5px 5px 5px -3px rgba(118,118,118,0.75);
  -moz-box-shadow: 5px 5px 5px -3px rgba(118,118,118,0.75);
}

.checkMark {
  background-color: #00b15e;
  border-radius: 5px;
  padding: 0; 
  margin: 3px;
}


.checkMark:hover {
  background-color: #00c066;
  border-radius: 5px;
  padding: 0;
  box-shadow: 5px 5px 5px -3px rgba(118,118,118,0.75);
  -webkit-box-shadow: 5px 5px 5px -3px rgba(118,118,118,0.75);
  -moz-box-shadow: 5px 5px 5px -3px rgba(118,118,118,0.75);
  margin: 3px;
}

.close {
  background-color: #FF3B3F;
  border-radius: 5px;
  padding: 0; 
  margin: 3px;
}


.close:hover {
  background-color: #ff6063;
  border-radius: 5px;
  padding: 0;
  box-shadow: 5px 5px 5px -3px rgba(118,118,118,0.75);
  -webkit-box-shadow: 5px 5px 5px -3px rgba(118,118,118,0.75);
  -moz-box-shadow: 5px 5px 5px -3px rgba(118,118,118,0.75);
  margin: 3px;
}

.roosterBg {
  border: solid 1px #A9A9A9 ;
  background-color: #fdfdfd;
  border-radius: 5px;
  margin: .5em;
  padding: 1em;
  box-shadow: 5px 5px 5px -3px rgba(118,118,118,0.75);
  -webkit-box-shadow: 5px 5px 5px -3px rgba(118,118,118,0.75);
  -moz-box-shadow: 5px 5px 5px -3px rgba(118,118,118,0.75);
}

/* 

Background: Neutral #EFEFEF
Attention: Watermelon #FF3B3F
Text: Carbon #A9A9A9
Highlight Background: Sky #CAEBF2


*/